/* Màu mặc định cho logo nếu không dùng inline style */
.navbar-brand {
    color: orange !important;
}

#scroll-to-top {
    bottom: 20px;
    right: 20px;
    display: none; /* Ẩn mặc định */
    background-color: orange;
    color: white;
    z-index: 1000;
}

#scroll-to-top.show {
    display: block; /* Hiện khi scroll */
}